<div *ngIf="pangolin">
  <h2 class="page-header">Votre profil ({{pangolin.login}})</h2>
  <form (submit)="onModifSubmit()" >
  <ul class="list-group">

    <li class="list-group-item">Age : <label>
      <input type="text" [(ngModel)]="pangolin.age" name="age"/>
    </label></li>
    <li class="list-group-item">Nourriture : <label>
      <input type="text" [(ngModel)]="pangolin.food" name="food"/>
    </label></li>
    <li class="list-group-item">Famille : <label>
      <input type="text" [(ngModel)]="pangolin.family" name="family" />
    </label></li>
    <li class="list-group-item">Race : <label>
      <input type="text" [(ngModel)]="pangolin.race" name="race"/>
    </label></li>
      <input type="submit" class="btn btn-primary" value="Mettre à jour">




    <ng-template #elseBlockA><br/><b>Pas d'amis pangos :-( Pas de panique, ajoutez en en dessous !</b></ng-template>
  </ul>
  </form>

  <li class="list-group-item mt-5">Friends :
    <div *ngIf="friends && friends.length > 0; else elseBlockA">
      <div *ngFor="let pang of friends" class="card col-6">

        <h2 class="page-header">{{pang.login}}</h2>
        <ul class="list-group">
          <li class="list-group-item">Age : {{pang.age}}</li>
          <li class="list-group-item">Famille : {{pang.family}}</li>
        </ul>
        <button class="btn btn-danger" (click)="removeFriend(pang._id)">Remove</button>
      </div>
    </div>
  </li>

  <li class="list-group-item mt-5">D'autres Pangos sur le réseau :
    <div *ngIf="otherPangos; else elseBlockB">
      <div *ngFor="let pang of otherPangos" class="card col-6">
        <h2 class="page-header">{{pang.login}}</h2>
        <ul class="list-group">
          <li class="list-group-item">Age : {{pang.age}}</li>
          <li class="list-group-item">Nourriture : {{pang.food}}</li>
        </ul>
        <button class="btn btn-success" (click)="addFriend(pang._id)">Add</button>

      </div>
    </div>
    <ng-template #elseBlockB>Aucun pangos sur le réseau ! <a href="/register">Créer un pango</a></ng-template>

  </li>
</div>
