<div class="card p-2">
  <div class="row mb-2">
    <div class="col-8 d-flex align-items-center">
      <h2 class="page-header m-0">{{pangolin.login}}</h2>
    </div>
    <div class="col-4">
      <button *ngIf="isFriend; else elseBlock" class="btn btn-danger float-right" (click)="removeFriend(pangolin._id)"><span class="material-icons">person_remove</span></button>
      <ng-template #elseBlock>
        <button class="btn btn-success float-right" (click)="addFriend(pangolin._id)"><span class="material-icons">person_add</span></button>
      </ng-template>
    </div>
  </div>
  <ul class="list-group">
    <li class="list-group-item">Age : {{pangolin.age}}</li>
    <li class="list-group-item">Famille : {{pangolin.family}}</li>
    <li class="list-group-item">Race : {{pangolin.race}}</li>
    <li class="list-group-item">Nourriture : {{pangolin.food}}</li>
  </ul>

</div>
